@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
.chart-container {
  width: 100%; /* Set the container width to 100% of its parent element */
  max-width: 1200px; /* You can adjust the max-width to your desired maximum width */
  margin: 0 auto; /* Center the chart container horizontally */
  background: #1a1d29;
}
body {
  background: black;
}
.tooltip {
  z-index: 1000;
  position: absolute;
  display: none;
  color: black;
  background: rgba(251, 192, 45, 1);
  border: none;
  padding: 10px 15px;
  border-radius: 8px; /* Larger border radius for rounded corners */
  pointer-events: none; /* Ensure it doesn't interfere with chart interactions */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for a subtle depth effect */
  font-size: 0.9rem; /* Adjust font size if needed */
  font-weight: 500; /* Slightly bolder font for emphasis */
  line-height: 1.4; /* Line height for better text readability */
  transition: opacity 0.15s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pulse-marker {
  animation: pulse 1s infinite;
}
